spring:
  application:
    name: fourSalesEcommerce

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:fsecommerce}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

  messages:
    basename: messages
    encoding: UTF-8

  threads:
    virtual:
      enabled: true

server:
  servlet:
    context-path: /fsecommerce
  port: 8080

api:
  security:
    token:
      secret: ${JWT_SECRET:chaveSecretaFSEcommerce}

springdoc:
  api-docs:
    path: /api-docs