spring:
  application:
    name: fourSalesEcommerce

  datasource:
    url: jdbc:h2:mem:fsecommerce;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate.flyway.enabled: true

  flyway:
    enabled: true
    locations: classpath:db

  messages:
    basename: messages
    encoding: UTF-8

  threads:
    virtual:
      enabled: true

server:
  port: 8080
  servlet:
    context-path: /fsecommerce

api:
  security:
    token:
      secret: ${JWT_SECRET:chaveSecretaFSEcommerce}

springdoc:
  api-docs:
    path: /api-docs