spring:
  application:
    name: fourSalesEcommerce

  datasource:
    url: jdbc:h2:mem:fsecommerce;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

  messages:
    basename: messages
    encoding: UTF-8

  threads:
    virtual:
      enabled: true

server:
  port: 8080
  servlet:
    context-path: /fsecommerce

api:
  security:
    token:
      secret: ${JWT_SECRET:chaveSecretaFSEcommerce}

springdoc:
  api-docs:
    path: /api-docs

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE